/* Building Websites CSS 30/11/2019 Author P Lacey */
/* ---------------------------------------------------
Reset
-----------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

/* ---------------------------------------------------
General Site Pages
-----------------------------------------------------*/
body {
    background: #fff;
}

h1 {
  color: #005;
  font-size: 2.5em;
  padding: 10px;
  text-shadow: 3px 3px 3px #999;
}

h2 {
  color: #005;
  font-size: 2.3em;
  padding: 10px;
  text-shadow: 3px 3px 3px #999;
}

h3 {
  color: #005;
  font-size: 1.5em;
  padding: 10px;
  text-shadow: 3px 3px 3px #999;
}

p {
	font-size: 1.5em;
}

hr {
	background-color:#EEE8AA;
	width:60%;
	margin:auto;
}

.container {
	width: 80%;
}

.navbar {
	border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border:1px solid #000;
	 -moz-border-radius: 1em;
    -o-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
	margin: auto;
	width: 35%;
}

a:hover {
  color: blue;
  background: #EEE8AA;
  text-decoration: none;
}

.banner {
	margin-left:31%;
}

.amazon {
	border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border:1px solid #000;
	 -moz-border-radius: 1em;
    -o-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
	background: #EEE8AA;
	margin: auto;
	width: 60%;
	padding:10px;
}


.list {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35%;
}

.dropdown {
	
	width:12%;
	margin:auto;
	background: #fff;
}